.app-contents {
	overflow: auto;
}

.news-container {
}

.news-container > p {
	margin: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 14px;
}

.news-contents {
	display: block;
	margin: 10px;
	padding: 10px;
	background-color: #fff;
	min-height: 300px;
}

.none-container + p,
.news-contents + p {
	padding-left: 10px;
	text-align: left;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.files {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.files li {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.files li .icon {
	display: block;
	width: 24px;
	height: 24px;
}

.files li span {
	display: block;
	flex-basis: 100%;
	text-align: center;
}

.none-container {
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	justify-content: center;
}

.none-container img {
}

.none-container .none-text {
	flex-basis: 100%;
	text-align: center;
	margin: 10px 0;
}
