.main {
	padding-top: 0;
	position: relative;
}

.main-btns {
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	height: calc(100vh - 100px);
	justify-content: center;
	align-content: flex-start;
	overflow: auto;
}

.main-btns .btn {
	flex-basis: 100%;
	font-size: 24px;
	font-weight: bold;
	max-width: 60vw;
	text-align: center;
	max-height: 16vw;
	/*margin: 40px 0;*/
	margin-bottom: 20px;
	padding: 16px 24px;
	border-radius: 4px;
	background-color: #003363;
}

.main-btns .btn:first-child {
	margin-top: 20px;
}

.main-btns .btn:nth-child(2n + 1) {
	background-color: darkorange;
}
