.app-contents {
	overflow: auto;
}

.condition-ul {
	margin: 12px 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 0;
}

.condition-ul li {
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
}

.condition-ul li .dater {
	min-width: 160px;
	margin: 0 10px;
}

.condition-ul li label {
	width: 100px;
	min-width: 100px;
	text-align: right;
	white-space: nowrap;
}

/*-------------------------------------------*/

.tips-title {
	font-size: 14px;
	text-align: center;
	background-color: #c9e2f6;
	height: 40px;
	line-height: 40px;
}

/*-------------------------------------------*/
.main-list {
}

.main-list li.list-item {
	display: flex;
	justify-content: space-between;
	height: 120px;
	background-color: #fff;
	margin-bottom: 10px;
}

.main-list li.list-item .left-img {
	display: block;
	width: 120px;
	height: 100px;
	margin: 10px;
	background-color: orange;
}

.main-list li.list-item .right-info {
	display: block;
	margin: 10px;
	margin-left: 0;
	flex-basis: calc(100% - 140px);
	height: 100px;
	overflow: hidden;
}

.main-list li.list-item .right-info > p {
	font-size: 15px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	text-indent: 10px;
	margin-top: 6px;
	margin-bottom: 0;
}

.main-list li.list-item .right-info > p {
	font-size: 14px;
}

.main-list li.list-item .right-info > p span {
	font-size: 13px;
	color: #888;
	margin-left: 10px;
}

.main-list li.list-item .right-info .img-items {
	display: flex;
	justify-content: flex-start;
	overflow: auto;
}

.main-list li.list-item .right-info .img-items li {
	width: 60px;
	height: 60px;
	margin-top: 10px;
	margin-left: calc(25% - 45px);
}

.main-list li.list-item .right-info .img-items li img {
	display: block;
	width: 60px;
	height: 60px;
	background-color: #389edc;
}
