.right-drawer-msk {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 3;
}

.right-drawer-msk.hidden {
	display: none;
}

.right-drawer-container {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	/*width: 100vw;*/
	height: 100vh;
	top: 0;
	right: 0;
	z-index: 9;
	transition: 0.3s;
}

.right-drawer-container.hidden {
	right: -100vw;
}

.right-drawer-container .main-container {
	background-color: #fff;
	display: block;
	width: 80vw;
	height: 100vh;
	padding: 20px;
	z-index: 2;
	overflow: auto;
	position: relative;
	right: 0;
	animation: rightDrawerSlideIn 0.2s;
}

.right-drawer-container .main-container li {
	margin: 16px 0;
}

.right-drawer-container .main-container li > label {
	display: block;
	margin: 6px 0;
	font-size: 14px;
	font-weight: bold;
}

.right-drawer-container .drawer-btns a[role="button"] {
	padding: 0 30px;
	font-size: 15px;
}

.right-drawer-container .drawer-btns {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
}

@keyframes rightDrawerSlideIn {
	from {
		right: -100%;
	}
	to {
		right: 0;
	}
}
