.rtzl-zbc-pickerview-container {
	z-index: 10;
}

.rtzl-zbc-pickerview-container,
.rtzl-zbc-pickerview-container .msk {
	display: block;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.rtzl-zbc-pickerview-container .msk {
	background-color: rgba(0, 0, 0, 0.3);
	/*z-index: 9;*/
}

.rtzl-zbc-pickerview-container.hide {
	display: none;
}

.rtzl-zbc-pickerview-container .rtzl-zbc-pickerview {
	position: relative;
	width: 100vw;
	height: 40vh;
	background-color: #fff;
	bottom: -60vh;
	animation: moveIn 0.15s;
	z-index: 2;
}

.rtzl-zbc-pickerview-container .rtzl-zbc-pickerview .top-btns {
	color: #389edc;
	display: flex;
	justify-content: space-between;
}

.rtzl-zbc-pickerview-container .rtzl-zbc-pickerview .top-btns span {
	font-size: 15px;
	margin: 6px 16px;
	margin-bottom: 0;
}

@keyframes moveIn {
	from {
		bottom: -100vh;
	}
	to {
		bottom: -60vh;
	}
}
