.select-tree {
	min-width: 30px;
	height: 30px;
	line-height: 30px;
	text-indent: 8px;
	border: solid 1px #ccc;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.select-tree span {
	font-size: 14px;
}

.select-tree img {
	display: block;
	width: 8px;
	height: 8px;
	margin-right: 10px;
}

.select-tree + .pickerview-container {
	z-index: 10;
}

.select-tree + .pickerview-container,
.select-tree + .pickerview-container .msk {
	display: block;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}
.select-tree + .pickerview-container .msk {
	background-color: rgba(0, 0, 0, 0.3);
}

.select-tree + .pickerview-container.hide {
	display: none;
}

.select-tree + .pickerview-container .pickerview {
	position: relative;
	width: 100vw;
	height: 70vh;
	background-color: #fff;
	bottom: -30vh;
	animation: select-tree-moveIn 0.15s;
}

.select-tree + .pickerview-container .top-btns {
	color: #389edc;
	display: flex;
	justify-content: space-between;
}

.select-tree + .pickerview-container .top-btns span {
	font-size: 15px;
	margin: 6px 16px;
	margin-bottom: 0;
}

.select-tree + .pickerview-container .pickerview .tree-box {
	padding: 20px;
}

@keyframes select-tree-moveIn {
	from {
		bottom: -100vh;
	}
	to {
		bottom: -30vh;
	}
}
