.pickerview-container {
	z-index: 9;
}

.rn-rtzl-com-date-picker {
	min-width: 30px;
	height: 30px;
	line-height: 30px;
	text-indent: 8px;
	border: solid 1px #ccc;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.rn-rtzl-com-date-picker > img {
	display: block;
	width: 16px;
	height: 16px;
	margin-left: 10px;
	position: absolute;
	left: 0;
}

.rn-rtzl-com-date-picker > span {
	font-size: 14px;
	display: block;
	width: 100%;
	text-align: center;
}

.rn-rtzl-com-date-picker > span[role="img"] {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 30px;
	margin: 0 4px;
	position: absolute;
	right: 0;
}

.pickerview-container,
.pickerview-container .msk {
	display: block;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}
.pickerview-container .msk {
	background-color: rgba(0, 0, 0, 0.3);
}

.pickerview-container.hide {
	display: none;
}

.pickerview {
	position: relative;
	width: 100vw;
	height: 40vh;
	bottom: -60vh;
	background-color: #fff;
	animation: moveIn 0.15s;
}

.top-btns {
	color: #389edc;
	display: flex;
	justify-content: space-between;
}

.top-btns span {
	font-size: 15px;
	margin: 10px;
	margin-bottom: 0;
}

@keyframes moveIn {
	from {
		bottom: -100vh;
	}
	to {
		bottom: -60vh;
	}
}
/*=================================*/
