.app-contents {
	overflow: auto;
}

.condition-ul {
}

.condition-ul li {
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 6px;
}

.condition-ul li .input,
.condition-ul li .select-tree,
.condition-ul li .dater {
	flex-basis: 100%;
	margin: 0 10px;
}

.condition-ul li label {
	width: 100px;
	min-width: 100px;
	text-align: right;
	white-space: nowrap;
}

ul.btns {
	display: flex;
	justify-content: space-around;
}

ul.btns li {
	display: block;
}

.table-container {
	min-height: 300px;
}

@media screen and (max-width: 340px) {
	ul.btns {
		flex-wrap: wrap;
	}
	ul.btns li {
		flex-basis: 40%;
		margin-bottom: 8px;
	}
}
/*======================================================*/
.tips-container-outer,
.detail-container-outer {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9;
}

.tips-msk,
.detail-msk {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 9;
}

.tips-container,
.detail-container {
	background-color: #fff;
	width: 80vw;
	min-height: 40vh;
	padding: 16px;
	overflow: auto;
	z-index: 10;
}

.tips-container span,
.detail-container span {
	font-size: 14px;
	display: block;
	word-break: break-word;
}

.tips-container a,
.detail-container a {
	font-size: 14px;
	display: block;
}

.detail-container > p {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
}

.tips-container {
	animation: tipsIn 0.2s;
	position: relative;
	bottom: 10vh;
}

.detail-container {
	animation: detailIn 0.2s;
}

@keyframes tipsIn {
	from {
		bottom: 100vh;
	}
	to {
		bottom: 10vh;
	}
}

@keyframes detailIn {
	from {
		width: 0;
		height: 0;
	}
	to {
		width: 80vw;
	}
}
