.board-info2-container {
	background-color: #fff;
	margin: 8px;
	border: solid 1px #ddd;
	border-radius: 4px;
	padding-bottom: 8px;
}

.board-info2-container .board-info2-title {
	font-size: 15px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	border-bottom: solid 1px #eee;
	margin: 8px 10px;
	margin-top: 4px;
	color: #666;
}

.board-info2-container .board-info2-contents {
	overflow: auto;
	max-height: 240px;
}

.board-info2-container .board-info2-contents > div {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	margin: 0 14px;
	margin-bottom: 6px;
}

.board-info2-container .board-info2-contents > div:before {
	content: " ";
	display: block;
	margin-right: 4px;
	border: 2px solid #355da5;
	width: 8px;
	height: 8px;
	border-radius: 50% 50%;
	left: -18px;
	top: 7px;
}

.board-info2-container .board-info2-contents > div span {
	display: block;
	flex-basis: 100%;
	font-size: 14px;
	margin: 0 10px;
	line-height: 20px;
	word-break: break-word;
}
