.app-contents {
	overflow: auto;
}

.table-container-outer {
	background-color: #fff;
	padding: 2px;
	margin: 10px;
}

.table-container {
	height: calc(100vh - 302px);
}

.condition-ul li {
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
	margin-right: 20px;
}

.condition-ul li .select,
.condition-ul li .input {
	flex-basis: 100%;
	margin: 0 10px;
	background-color: transparent;
}

.condition-ul li label {
	width: 100px;
	min-width: 100px;
	text-align: right;
	white-space: nowrap;
}

ul.btns {
	display: flex;
	justify-content: space-around;
}

ul.btns li {
	display: block;
	min-width: 100px;
}

@media screen and (max-width: 340px) {
	ul.btns {
		flex-wrap: wrap;
	}
	ul.btns li {
		flex-basis: 40%;
		margin-bottom: 8px;
	}
}

@media screen and (max-width: 300px) {
	.ahead-conditions li {
		display: flex;
		margin: 10px;
		min-width: 150px;
	}
}
/*-------------------------------------------*/
