.app-contents {
	overflow: auto;
}

/*-------------------------------------------*/
.main-list {
}

.main-list li.list-item {
	display: flex;
	justify-content: space-between;
	/*height: 120px;*/
	background-color: #fff;
	margin-bottom: 10px;
}

.main-list li.list-item .left-img {
	display: block;
	width: 120px;
	height: 100px;
	margin: 10px;
	background-color: orange;
}

.main-list li.list-item .right-info {
	display: block;
	margin: 10px;
	margin-left: 0;
	flex-basis: calc(100% - 140px);
	/*height: 100px;*/
	overflow: hidden;
}

.main-list li.list-item .right-info > p {
	font-size: 15px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	text-indent: 10px;
	margin-top: 6px;
	margin-bottom: 15px;
}

.main-list li.list-item .right-info .text-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*align-items: center;*/
}

.main-list li.list-item .right-info .text-items li {
	display: block;
	margin-bottom: 4px;
}

.main-list li.list-item .right-info .text-items li span {
	font-size: 14px;
	display: block;
	width: 72px;
	height: 24px;
	line-height: 17px;
	padding: 4px 8px;
	text-align: center;
	white-space: nowrap;
}

.main-list li.list-item .right-info .text-items li span.active {
	background-color: #389edc;
	color: #fff;
	border-radius: 16px;
}
