.rtmcc-rnweb-treepickerview-container {
	z-index: 10;
}

.rtmcc-rnweb-treepickerview-container,
.rtmcc-rnweb-treepickerview-container .msk {
	display: block;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.rtmcc-rnweb-treepickerview-container .msk {
	background-color: rgba(0, 0, 0, 0.3);
}

.rtmcc-rnweb-treepickerview-container.hide {
	display: none;
}

.rtmcc-rnweb-treepickerview-container .pickerview {
	position: relative;
	width: 100vw;
	height: 40vh;
	background-color: #fff;
	bottom: -60vh;
	animation: moveIn 0.15s;
	z-index: 2;
}

.rtmcc-rnweb-treepickerview-container .pickerview .tree-box{
	padding: 10px;
}

.rtmcc-rnweb-treepickerview-container .pickerview .tree-box > span[role="img"] {
	margin-left: 24px;
}

.rtmcc-rnweb-treepickerview-container .pickerview .top-btns {
	color: #389edc;
	display: flex;
	justify-content: space-between;
}

.rtmcc-rnweb-treepickerview-container .pickerview .top-btns span {
	font-size: 15px;
	margin: 6px 16px;
	margin-bottom: 0;
	height: 32px;
	line-height: 32px;
}

@keyframes moveIn {
	from {
		bottom: -100vh;
	}
	to {
		bottom: -60vh;
	}
}
