.app-contents {
	overflow: auto;
}

.app-contents .am-list-body {
	background-color: transparent;
}

.item-outer {
	padding: 10px;
	margin: 10px;
	background-color: #fff;
}

.item-outer .title {
	font-size: 18px;
	font-weight: bold;
}

.item-outer .remarks {
	min-height: 60px;
}

.item-outer .spliter {
	background-color: #ccc;
	width: 100%;
	height: 1px;
	margin: 8px 0;
}

.item-outer .detail {
	display: flex;
	justify-content: space-between;
}

.item-outer .detail span {
}
